<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{url_for('static', filename='vaccine.css')}}">   

</head>
<body>
    <div class="navbar">
        <div class="logo">Diva-Fit</div>
        <div>
            <li class="links">
                <ul class="item"><a href="{{ url_for('home') }}">Home</a></ul>
                <ul class="item"><a href="{{ url_for('exercise') }}">Start workout</a></ul>
                <ul class="item"><a href="{{ url_for('calendar') }}">Calendar</a></ul>
                <ul class="item"><a href="{{ url_for('about') }}">About</a></ul>
                <ul class="item"><a href="{{ url_for('vaccine') }}">Vaccines</a></ul>
            </li>
        </div>
    </div>
    <div class="cardhold">
        <div class="card">
            <h3>Hepatitis B Vaccine</h3>
            <label class="container">
                <input checked="checked" type="checkbox">
                <div class="checkmark"></div>
              </label>
            <p>Usually given at birth, followed by additional doses during infancy.</p>
        </div>
        <div class="card">
            <h3>Hepatitis B Vaccine</h3>
            <p>Usually given at birth, followed by additional doses during infancy.</p>
        </div>
        <div class="card">
            <h3>Hepatitis B Vaccine</h3>
            <p>Usually given at birth, followed by additional doses during infancy.</p>
        </div>
        <div class="card">
            <h3>Hepatitis B Vaccine</h3>
            <p>Usually given at birth, followed by additional doses during infancy.</p>
        </div>
        <div class="card">
            <h3>Hepatitis B Vaccine</h3>
            <p>Usually given at birth, followed by additional doses during infancy.</p>
        </div>
        <div class="card">
            <h3>Hepatitis B Vaccine</h3>
            <p>Usually given at birth, followed by additional doses during infancy.</p>
        </div>

    </div>
</body>
</html>