<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{url_for('static', filename='vaccine.css')}}">   

</head>
<body>
    <div class="navbar">
        <div class="logo">Diva-Fit</div>
        <div>
            <li class="links">
                <ul class="item"><a href="{{ url_for('home') }}">Home</a></ul>
                <ul class="item"><a href="{{ url_for('exercise') }}">Start workout</a></ul>
                <ul class="item"><a href="{{ url_for('vaccine') }}">Vaccines</a></ul>
                <ul class="item"><a href="{{ url_for('health') }}">Health Check Up</a></ul>
            </li>
        </div>
    </div>
    <div class="cardhold">
        <div class="card">
            <h3>Influenza Vaccine</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
              </label>
            <p>Recommended annually for all adults, especially those with underlying health conditions.</p>
        </div>
        <div class="card">
            <h3>Td Vaccine (Tetanus, Diphtheria)</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Booster doses recommended every 10 years.</p>
        </div>
        <div class="card">
            <h3>Tdap Vaccine (Tetanus, Diphtheria, Pertussis)</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Recommended during each pregnancy and for adults who have not previously received it.</p>
        </div>
        <div class="card">
            <h3>HPV Vaccine</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Catch-up vaccination recommended for females aged 27-45 years who have not been previously vaccinated.</p>
        </div>
        <div class="card">
            <h3>MMR Vaccine</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Catch-up vaccination recommended for women born after 1957 who have not received two doses.</p>
        </div>
        <div class="card">
            <h3>Varicella Vaccine</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Catch-up vaccination recommended for adults who have not had chickenpox or received the vaccine.</p>
        </div>

    </div>
</body>
</html>
