<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{url_for('static', filename='health.css')}}">   

</head>
<body>
    <div class="navbar">
        <div class="logo">Diva-Fit</div>
        <div>
            <li class="links">
                <ul class="item"><a href="{{ url_for('home') }}">Home</a></ul>
                <ul class="item"><a href="{{ url_for('exercise') }}">Start workout</a></ul>
                <ul class="item"><a href="{{ url_for('calendar') }}">Calendar</a></ul>
                <ul class="item"><a href="{{ url_for('about') }}">About</a></ul>
                <ul class="item"><a href="{{ url_for('health') }}">Health Check Up</a></ul>
            </li>
        </div>
    </div>
    <div class="cardhold">
        <div class="card">
            <h3>Regular Physical Examinations</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
              </label>
            <p>Annual check-ups with a healthcare provider are crucial for monitoring overall health.</p>
        </div>
        <div class="card">
            <h3>Blood Pressure Screening</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Regular blood pressure checks are important to monitor cardiovascular health.</p>
        </div>
        <div class="card">
            <h3>Cervical Cancer Screening</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Starting at age 21, women should undergo regular cervical cancer screenings with Pap smears.</p>
        </div>
        <div class="card">
            <h3>Breast Self-Examinations</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Regular breast self-examinations are valuable for detecting any changes or abnormalities in breast tissue.</p>
        </div>
        <div class="card">
            <h3>Sexually Transmitted Infections (STIs) Screening</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Regular STI screenings are essential for detecting infections such as chlamydia, gonorrhea, and HIV.</p>
        </div>

    </div>
</body>
</html>
