<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Streaming</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <!-- Original video feed -->
    <img id="curl_counter" src="" alt="Video Feed" style="width: 400px; height: auto;">

    <!-- Additional video element for curls.mp4 -->
    <video width="400" height="auto" controls loop>
        <source src="/static/curls.mp4" type="video/mp4" >
        Your browser does not support the video tag.
    </video>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Handle incoming video frames
        socket.on('video_frame', function(data) {
            var img = document.getElementById('curl_counter');
            img.src = 'data:image/jpeg;base64,' + data.image;
        });
    </script>
</body>
</html>
