<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{url_for('static', filename='exercise.css')}}">   

</head>
<body>
    <div class="navbar">
        <div class="logo">Diva-Fit</div>
        <div>
            <li class="links">
                <ul class="item"><a href="{{ url_for('home') }}">Home</a></ul>
                <ul class="item"><a href="{{ url_for('about') }}">About</a></ul>
                <ul class="item"><a href="{{ url_for('exercise') }}">Start workout</a></ul>
                <ul class="item"><a href="{{ url_for('vaccine') }}">Vaccines</a></ul>
                <ul class="item"><a href="{{ url_for('health') }}">Health Check Up</a></ul>
            </li>
        </div>
    </div>
    <div class="cardholder">
        <div class="card">
            <div class="face">
               <h3>Curl Count</h3>
               <p>Curl count is a strength training exercise that involves curling weights, typically dumbbells, to work the biceps muscles</p> 
               <button class="btn" type="submit" value="curl-count" onclick="redirectCurls()">Start Workout</button>
               <script>
                function redirectCurls() {
                    console.log("");
                    window.location.href = "{{ url_for('exercise_curl') }}";
                }
            </script>
            </div>
            <div class="info">
                <img src="{{url_for('static', filename='curl.png')}}">
            </div>
        </div>

        <div class="card">
            <div class="face">
                <h3>High Knees</h3>
                <p>High knees is a cardiovascular exercise where you rapidly lift your knees towards your chest alternately, promoting agility and engaging multiple muscle groups including the core and hip flexors.</p>
                <button class="btn" type="submit" value="high-knees" onclick="redirectHighKnees()">Start Workout</button>
                <script>
                    function redirectHighKnees() {
                        console.log("");
                        window.location.href = "{{ url_for('exercise_high_knees') }}";
                    }
                </script>
            </div>
            <div class="info">
                <img src="{{url_for('static', filename='high.png')}}">

            </div>
        </div>

        <div class="card">
            <div class="face">
               <h3>Toe Touches</h3>
               <p>
                Toe touches are a bodyweight exercise that strengthens your core and improves flexibility by bending at the hips and reaching towards your toes.</p> 
               <button class="btn" type="submit" value="curl-count" onclick="redirectToes()">Start Workout</button>
               <script>
                function redirectToes() {
                    console.log("");
                    window.location.href = "{{ url_for('exercise_toe_touch') }}";
                }
            </script>
            </div>
            <div class="info">
                <img src="{{url_for('static', filename='toes.png')}}" style="width:170px;margin-top:45px;">
            </div>
        </div> 

    </div>
</body>
</html>