<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{url_for('static', filename='health.css')}}">   

</head>
<body>
    <div class="navbar">
        <div class="logo">Diva-Fit</div>
        <div>
            <li class="links">
                <ul class="item"><a href="{{ url_for('home') }}">Home</a></ul>
                <ul class="item"><a href="{{ url_for('exercise') }}">Start workout</a></ul>
                <ul class="item"><a href="{{ url_for('vaccine') }}">Vaccines</a></ul>
                <ul class="item"><a href="{{ url_for('health') }}">Health Check Up</a></ul>
            </li>
        </div>
    </div>
    <div class="cardhold">
        <div class="card">
            <h3>Bone Density Testing (DEXA Scan)</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Regular bone density tests are crucial for assessing bone health and detecting osteoporosis</p>
        </div>
        <div class="card">
            <h3>Breast Cancer Screening (Mammogram)</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Regular mammograms are essential for early detection of breast cancer, as the risk increases with age.</p>
        </div>
        <div class="card">
            <h3>Cardiovascular Health Screening</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Comprehensive cardiovascular assessments, including cholesterol levels help monitor heart health.</p>
        </div>
        <div class="card">
            <h3>Colorectal Cancer Screening</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Regular screenings for colorectal cancer, such as colonoscopy or fecal occult blood tests.</p>
        </div>
        <div class="card">
            <h3>Pelvic Health Evaluation</h3>
            <label class="container">
                <input   type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Postmenopausal women should undergo regular pelvic exams.</p>
        </div>
    </div>
</body>
</html>
