<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{url_for('static', filename='vaccine.css')}}">   

</head>
<body>
    <div class="navbar">
        <div class="logo">Diva-Fit</div>
        <div>
            <li class="links">
                <ul class="item"><a href="{{ url_for('home') }}">Home</a></ul>
                <ul class="item"><a href="{{ url_for('about') }}">About</a></ul>
                <ul class="item"><a href="{{ url_for('exercise') }}">Start workout</a></ul>
                <ul class="item"><a href="{{ url_for('vaccine') }}">Vaccines</a></ul>
                <ul class="item"><a href="{{ url_for('health') }}">Health Check Up</a></ul>

            </li>
        </div>
    </div>
    <div class="cardhold">
        <div class="card">
            <h3>Hepatitis B Vaccine</h3>
            <label class="container">
                <input type="checkbox">
                <div class="checkmark"></div>
              </label>
            <p>Usually given at birth, followed by additional doses during infancy.</p>
        </div>
        <div class="card">
            <h3>DTaP Vaccine (Diphtheria, Tetanus, Pertussis)</h3>
            <label class="container">
                <input type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Given in a series of doses during infancy, childhood, and adolescence.</p>
        </div>
        <div class="card">
            <h3>Polio Vaccine</h3>
            <label class="container">
                <input type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Typically administered in multiple doses during infancy and early childhood.</p>
        </div>
        <div class="card">
            <h3>MMR Vaccine (Measles, Mumps, Rubella)</h3>
            <label class="container">
                <input type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Given in two doses, usually around 12-15 months and 4-6 years of age.</p>
        </div>
        <div class="card">
            <h3>Varicella (Chickenpox) Vaccine</h3>
            <label class="container">
                <input type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Administered in two doses, usually around 12-15 months and 4-6 years of age.</p>
        </div>
        <div class="card">
            <h3>HPV Vaccine (Human Papillomavirus)</h3>
            <label class="container">
                <input type="checkbox">
                <div class="checkmark"></div>
            </label>
            <p>Recommended for females aged 9-26 years, given in a series of doses.</p>
        </div>

    </div>
</body>
</html>
