<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">   

</head>
<body>
    <!-- header section -->
    <div class="navbar">
        <div class="logo">Diva-Fit</div>
        <div>
            <li class="links">
                <ul class="item" href="/home">Home</ul>
                <ul class="item">Start workout</ul>
                <ul class="item">Calendar</ul>
                <ul class="item">About</ul>
            </li>
        </div>
    </div>
    <!-- body1 -->
    <div class="up">
        <div class="chart">
            <h3>Period Tracker</h3>
            <div class="pie animate" style="--p:90;--c:#ff96c4;">{{ context["num_days_left"] }} days left</div>
        </div>
        <div class="rec">
            <h3>Recommendations</h3>
            <p>Nutrition: During the follicular phase, prioritize protein intake to support muscle maintenance and repair, along with adequate hydration to support overall health and performance. Exercise: Incorporate strength training exercises using light weights or resistance bands to improve muscular strength and function, focusing on proper form and technique. Balance and Stability: Include exercises that improve balance and stability, such as yoga or tai chi, to reduce the risk of falls and injuries.
            </p>
        </div>
    </div>

</body>
</html>
