<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">   

</head>
<body>
    <!-- header section -->
    <div class="navbar">
        <div class="logo">Diva-Fit</div>
        <div>
            <li class="links">
                <ul class="item"><a href="{{ url_for('home') }}">Home</a></ul>
                <ul class="item"><a href="{{ url_for('exercise') }}">Start workout</a></ul>
                <ul class="item"><a href="{{ url_for('calendar') }}">Calendar</a></ul>
                <ul class="item"><a href="{{ url_for('about') }}">About</a></ul>
                <ul class="item"><a href="{{ url_for('vaccine') }}">Vaccines</a></ul>
            </li>
        </div>
    </div>
    <!-- body1 -->
    <style>
        :root {
            --per-parameter: {{context["percentage"]}};
        }
    </style>
    <div class="up">
        <div class="chart">
            <h3>Period Tracker</h3>

            <div class="pie animate" style="--p:var(--per-parameter);--c:#EB9BA2;">{{ context["num_days_left"] }} days left</div>

        </div>
        <div class="rec">
            <h3>Recommendations</h3>
            <div class="row"> 
                <h4> {{ context["recommendation"][0] }}</h4>
                <p> {{ context["recommendation"][1] }} </p>
            </div>
            <div class="row">
                <h4> {{ context["recommendation"][2] }} </h4>
                <p> {{ context["recommendation"][3] }} </p>
            </div>
            <div class="row">
                <h4> {{ context["recommendation"][4] }} </h4>
                <p> {{ context["recommendation"][5] }} </p>
            </div>
        </div>
    </div>
    <div class="down">
        <div class="que">
          <div class="field">
            <form method="POST">
              <input autocomplete="off" placeholder="Ask your questions here" class="input-field" name="question" type="text">
            </form>
            <button class="btn" type="submit" value="">Ask</button>
          </div>
          <img class="qi"src="{{url_for('static', filename='question.png')}}">
          <div class="ans">
            Answer: {{ answer }}
          </div>
        </div>
      </div>

    

</body>
</html>
